@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    top: 0;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: none;
}

.radio-container {
    position: absolute;
    bottom: -56vh;
    right: 15vh;
}

.radio {
    width: 18vh;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button {
    position: absolute;
    background: transparent;
    border-radius: 5px;
    transition: all 0.1s linear;
    border: none;
}

button:hover {
    background: rgba(255, 255, 255, 0.25);
}

#volume-up,
#volume-down,
#increase-channel,
#decrease-channel {
    width: 3.8vh;
    height: 3.8vh;
}

#connect,
#disconnect {
    width: 3.5vh;
    height: 3.0vh;
}

#connect {
    bottom: 10vh;
    left: 2.0vh;
}

#disconnect {
    bottom: 10vh;
    right: 1.7vh;
}

#volume-up {
    bottom: 29.5vh;
    right: 0.9vh;
}

#volume-down {
    bottom: 18.5vh;
    right: 0.9vh;
}

#increase-channel {
    bottom: 29.5vh;
    left: 0.8vh;
}

#decrease-channel {
    bottom: 18.5vh;
    left: 0.8vh;
}

#power-off {
    width: 3.3vh;
    height: 2.9vh;
    bottom: 40vh;
    right: 2.2vh;
}

.onoff button {
    padding: 40px 55px;
    opacity: 0;
}

.channel {
    position: absolute;
    bottom: 24vh;
    left: 5.3vh;
    background: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.channel span {
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

.channel input {
    text-align: center;
    border: none;
    font-size: 25px;
    background: none;
    outline: none;
    font-family: 'Fira Code', monospace;
    width: 5vw;
}

::-webkit-inner-spin-button {
    display: none;
}
